@use "./colors" as c;

.about {
	background: c.$font url(../../public/images/about/about-desktop.jpg) no-repeat
		center;
	background-size: cover;
	text-align: center;

	.veil {
		display: grid;
		justify-items: center;
		align-content: start;
		gap: 2rem;
		padding-top: 20vh;
	}

	&__title {
		font-size: 2rem;
	}

	&__text {
		display: grid;
		gap: 1.5rem;
	}

	&__description {
		padding: 0 1.5rem;
		font-size: 1.2rem;
		line-height: 1.2em;
		max-width: 1200px;
	}
}
