@use "./colors" as c;

.explore {
	padding-bottom: 2rem;
	max-width: 1200px;
	margin: 0 auto;

	&__title {
		font-size: 1.5rem;
		font-weight: 600;
		text-align: center;
		padding-bottom: 0.6em;
	}

	&__description {
		font-size: 1rem;
		font-weight: 200;
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
		padding-bottom: 2em;
	}
}

.explore-card {
	width: 100%;
	height: max-content;
	padding-bottom: 1rem;

	&__text {
		display: grid;
		gap: 1rem;
		justify-items: start;
		padding-left: 1rem;
		padding-top: 1rem;
	}

	&__button {
		margin-left: 1rem;
	}

	&__image {
		object-fit: cover;
	}
}

@media screen and (min-width: 600px) {
	.explore {
		width: 90vw;

		&__title {
			font-size: 2rem;
		}

		&__description {
			font-size: 1.25rem;
		}

		&__grid {
			padding-top: 2rem;
		}
	}

	.explore-card {
		&__title {
			padding-left: 1.5rem;
		}

		&__subtitle {
			padding: 0 1.5rem;
		}
	}
}
