@use "./colors" as c;

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 0;

	.brand {
		a {
			color: c.$font;
			font-weight: 300;
			font-size: 2rem;
			font-style: italic;
			text-shadow: 0 2px 4px c.$font;
		}
	}
}

@media screen and (min-width: 600px) {
	header {
		justify-content: flex-start;
		align-items: baseline;
		gap: 2rem;

		button {
			display: none;
		}
	}

	.search {
		margin-left: auto;
	}
}
