@use "./colors" as c;

.hero {
	background: c.$font url(../../public/images/homepage/homepage.jpg) no-repeat
		40% 0%;

	.veil {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 1rem;
	}

	&__title {
		font-size: 10vmin;
		text-align: center;
	}
}
