@use "./colors" as c;

.menu {
	position: absolute;
	top: 0;
	left: -100vw;
	width: 60vw;
	height: 100vh;
	background-color: rgba(c.$black, $alpha: 0.8);
	transition: transform 0.6s cubic-bezier(0.61, 1, 0.88, 1);
	z-index: 1;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-left: 1.5rem;
		padding-top: 2rem;
	}

	&__item {
		font-size: 1.2rem;
		color: c.$font;
		transition: all 0.3s ease-in-out;
		display: inline-block;

		&::after {
			content: "";
			width: 0%;
			height: 2px;
			background-color: c.$font;
			display: block;
			margin: auto;
			transition: 0.5s;
		}

		&:hover {
			&::after {
				width: 70%;
			}
		}
	}

	&__button {
		padding-left: 1.5rem;
		padding-top: 2rem;
	}
}

.show {
	transform: translateX(100vw);
	transition: 0.6s;
}

@media screen and (min-width: 600px) {
	.menu {
		position: static;
		background-color: unset;
		width: unset;
		height: unset;

		&__list {
			justify-content: center;
			gap: 2rem;
			padding-top: 0;
			flex-direction: row;
		}
	}

	.show {
		transform: unset;
	}
}
