@use "./colors" as c;

.menu {
	position: absolute;
	top: 0;
	left: -100vw;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-left: 1.5rem;
		padding-top: 2rem;
	}

	&__item {
		transition: all 0.3s ease-in-out;
		font-size: 1.2rem;
		color: c.$font;

		/* HOVER ANIMATION

		&::after {
			content: "";
			width: 0%;
			height: 2px;
			background-color: c.$font;
			display: block;
			margin: auto;
			transition: 0.5s;
		}

		&:hover {
			&::after {
				width: 70%;
			}
		}

		*/
	}
}

@media screen and (min-width: 600px) {
	.menu {
		position: static;

		&__list {
			justify-content: center;
			gap: 2rem;
		}

		&__list {
			flex-direction: row;
		}
	}
}
