@use "./colors" as c;

form {
	width: 90vw;
	max-width: 1200px;
	margin: 0 auto;

	button {
		margin-left: 1rem;
	}
}

input {
	outline: none;
	background-color: #444;
	color: c.$font;
	border-radius: 30px;
	border: none;
	width: 100%;
	padding: 0.5rem;
	font-weight: 600;
}

.seachOutput {
	padding: 2rem 0;
	width: 90vw;
	max-width: 1200px;
	margin: 0 auto;
}

.article {
	width: 100%;
	display: grid;
	gap: 1rem;
	justify-items: start;
	align-items: center;
	padding: 0.3rem 0.7rem;

	&__summary {
		font-weight: 300;
	}

	&__button {
		border: 2px solid c.$font;
		border-radius: 30px;
		padding: 0.5rem 1rem;
		color: c.$font;
	}
}
