@use "./colors" as c;

.travel-topics {
	max-height: 85vh;

	&__carrousel {
		height: 100%;
		width: 100vw;

		img {
			object-fit: cover;
			width: 100%;
		}
	}

	&__title {
		font-size: 1.5rem;
		font-weight: 200;
		padding-bottom: 0.3rem;

		a {
			color: c.$font;
		}
	}
}

.previous,
.next {
	position: absolute;
	top: 20%;
}

.previous {
	left: 5%;
}

.next {
	right: 5%;
}

.hide {
	display: none;
}

.wrapper {
	height: 85vh;
	position: relative;
}

.caption {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.7rem;
	width: 90vw;
	margin: 0 auto;

	.btn {
		flex-shrink: 0;
	}
}

@media screen and (min-width: 600px) {
	.previous,
	.next {
		top: 50%;
		width: 1.5rem;
	}

	img {
		object-fit: cover;
		max-height: 75vh;
	}
}
