* {
	box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
button,
img,
ul,
li,
form,
input,
article,
footer,
header,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: "Raleway", sans-serif;
	overflow-x: hidden;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	outline: none;
	cursor: pointer;
	background: transparent;
	border: none;
}
